.blog-single-container {
  padding-top: 172px;
  padding-bottom: 148px;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;
}

.breadcrumbs__link {
  color: #525252;
}

.breadcrumbs__link:not(:last-child)::after {
  content: '>';
  margin: 0 16px;
}

.breadcrumbs__link:last-child {
  pointer-events: none;
}

.blog-single-container__breadcrumbs {
  margin-bottom: 80px;
}

.blog-single-container__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 140px;
}

.post-content__title {
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  color: var(--black-color);
}

.post-content__text {
  margin-bottom: 100px;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: var(--black-color);
}

.post-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-info__link {
  display: flex;
  align-items: flex-end;
  gap: 13px;
  color: var(--black-color);
}

.post-info .post {
  flex-direction: column;
}

.post__autor {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #000;
}

.post-info .post__date {
  margin-bottom: 20px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.sidebar img {
  max-width: 534px;
  max-height: 328px;
}

