.blog-container {
  padding-top: 172px;
  padding-bottom: 148px;
}

.posts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 143px;
}

.blog-container__wrapper {
  margin-bottom: 100px;
}

.post {
  position: relative;
  display: flex;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 1025px) {
  .posts-list__item .post:hover {
    opacity: 0.8;
  }
}

.post__link {
  position: absolute;
  inset: 0;
}

.post__image {
  margin-right: 30px;
}

.post__image img {
  display: block;
  max-width: 195px;
  max-height: 195px;
  object-fit: cover;
}

.post__title {
  max-width: 400px;
  margin-bottom: 13px;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  color: var(--black-color);
}

.post__date {
  margin-bottom: 40px;
}

.post__info {
  display: flex;
  gap: 27px;
}

.post__views,
.post__comments {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.eye-icon {
  width: 27px;
  height: 17px;
}

.comment-icon {
  width: 20px;
  height: 20px;
}

/* .pagination__list {
  display: flex;
  justify-content: center;
  gap: 6px;
} */

.pagination__item {
  border: 2px solid currentColor;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  color: var(--black-color);
}

/* .pagination__item:first-child,
.pagination__item:last-child {
  border: none;
  color: #8f8f8f;
}

.pagination__item:first-child {
  margin-right: 34px;
}

.pagination__item:last-child {
  margin-left: 34px;
} */

.pagination__item.active {
  color: var(--accent-color);
}

.pagination__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 700;
}

.arrow-icon {
  width: 29px;
  height: 19px;
}


