.blog {
  padding-top: 172px;
  padding-bottom: 148px;
}

.blog__wrapper {
  margin-bottom: 100px;
}

.post {
  position: relative;
  display: flex;
  transition: opacity 0.3s ease-in-out;
}

.post:hover {
  opacity: 0.8;
}

.posts-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px 140px;
}

.post__image {
  margin-right: 30px;
}

.post__image img {
  display: block;
}

.post-info {
  display: flex;
  flex-direction: column;
}

.post-info__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-width: 400px;
  margin-bottom: 13px;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  color: var(--black-color);
  overflow: hidden;
}

.post-info__date {
  margin-bottom: auto;
}

.post-info__props {
  display: flex;
  align-items: center;
  gap: 27px;
}

.post-info__prop {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info-text {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  color: #8f8f8f;
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.post__link {
  position: absolute;
  inset: 0;
}






