@font-face {
  font-family: "Lato";
  src: local("Lato Regular"), local("Lato-Regular"),
    url("../fonts/lato-regular.woff2"),
    url("../fonts/lato-regular.woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: local("Lato Bold"), local("Lato-Bold"),
    url("../fonts/lato-bold.woff2"),
    url("../fonts/lato-bold.woff");
  font-weight: 700;
  font-display: swap;
}